.formata{
    padding: 0.5em;
    justify-content: center;
}

.cardGrid{
    margin: 0;
    padding-inline: 0.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
}

.menuTitle h1{
    text-align: center;
    margin-block: 0.5em;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 3.5em;
}

.typesRow{
    display: flex;
    justify-content: space-between;
}

.typeText{
    display: flex;
    justify-content: center;
}

.typeText h3{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 2.5em;
}


.card{
    width: -webkit-fill-available;
    margin-top: 0.5em;
}

.productLink{
    text-decoration: none;
}

.typeSection{
    margin-left: 1em;
    margin-block: 0.5em;
}

.typeSectionTitle{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 1.5em;
}

.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    min-height: 21em;
}

.cardImg img{
    max-height: 20em;
    width: fit-content;
}

.divisionCardBody{
    border: solid gray 3px;
    border-radius: 10px;
    width: 0.1em;
}

.cardLine {
    padding-inline: 0.5em;
}

.cardLine hr{
    margin: 0;
    padding-inline: 2em;
}

.cardItemType{
    padding-inline: 0.3em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.cardItemType a{
    text-decoration: none;
}

.cardItemType h3{
    text-align: flex-start;
    margin-top: 1em;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 2em;
    color: black;
}

.card-title{
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
}
