<div class="formata">
    <div class="menuTitle" id="pedidos0">
        <h1>Pedidos</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
        <div class="col">
            <div class="row typesRow">
                <div class="typeText">
                    <h3 alt="ProductType">Recebidos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" id="cardsPedidos">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top"
                                alt="ProductImg">
                        </div>
                        <div class="cardLine">
                            <hr>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" alt="ProductName">Big Don 'NumeroPedido' <button mat-flat-button color="primary" class="finalizarButton">Finalizar</button></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-1 col-md-1 col-sm-0 divisionCardBody"></div>
        <div class="col">
            <div class="row typesRow">
                <div class="typeText">
                    <h3 alt="ProductType">Prontos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" id="cardsPedidos">
                    <div class="card">
                        <div class="cardImg">
                            <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top"
                                alt="ProductImg">
                        </div>
                        <div class="cardLine">
                            <hr>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" alt="ProductName">Big Don 'NumeroPedido' <button mat-flat-button color="primary" class="finalizarButton">Entregar</button></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>