.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img{
    margin-right: 1em;
}

.textimg{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 1.5em;
    padding-right: 0.5em;
}

@media (min-width: 280px) and (max-width: 653px) {
    .textimg {
        font-size: 0em;
    }
}