<!-- <div class="formata">
    <div class="row orderTitle">
        <div class="titleText">
            <h3>Pedidos</h3>
        </div>
    </div>
    <div class="row row-cols-3">
        <div class="container text-center cardItemType">
                <div class="col-sm-10 col-md-10 col-lg-3 typeText">
                    <h3 alt="ProductType">Hamburguers</h3>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-3 typeText">
                    <h3 alt="ProductType">Bebidas</h3>
            </div>
        </div>

        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
    </div>




    <div class="col-sm-8 col-md-5 col-lg-5 prontos">
        <p>Prontos</p>
    </div>
</div> -->