<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">
<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>Big Don</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão com Gergelim.</p>
        </div>
        <div class="avaliation">
            <p>Preço:</p>
            <h2>R$20,00</h2>
            <div class="example-button-row" style="margin-top: 10px;">
                <a routerLinkActive="active" (click)="removeItem()">
                    <div class="buttonRemover">
                        <button mat-flat-button color="warn">Remover Item</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="separar">


<div class="row row-cols-1 row-cols-md-3 g-3 promoGrid">
    <div class="promoCard">
        <div class="promoTitle" id="promoTitle">
            <p>Cupom De Desconto</p>
        </div>
        <mat-form-field>
            <input matInput placeholder="" value="">
            <!-- <input matInput [(ngModel)]="cupom"/> -->
        </mat-form-field>
    </div>
</div>

<hr class="separar">

<div class="row row-cols-1 row-cols-md-3 g-3 paymentGrid">
    <div class="paymentCard">
        <div class="paymentTitle" id="paymentTitle">
            <h3>Forma de Pagamento</h3>
        </div>
        <mat-form-field>
            <mat-select matInput>
                <mat-option value="Combo">Crédito</mat-option>
                <mat-option value="Hamburguer">Débito</mat-option>
                <mat-option value="Bebida">Dinheiro</mat-option>
                <mat-option value="Acompanhamento">Pix</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="paymentButton" (click)="finishOrder()">
            <mat-icon>payment</mat-icon>
        </button>
    </div>
</div>

<div class="buttonTop">
    <button (click)="navigateToSection('navbar')">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</div>

<div class="buttonCupom">
    <button (click)="navigateToSection('paymentTitle')">
        <mat-icon>attach_money</mat-icon>
    </button>
</div>