<div class="formata">
  <div class="menuTitle" id="cardapio">
    <h1>Cardápio</h1>
  </div>
  <div class="container text-center cardItemType">
    <div class="row typesRow">
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a (click)="navigateToSection('hamburguer')">
          <h3 alt="ProductType">Hamburguers</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a (click)="navigateToSection('bebida')">
          <h3 alt="ProductType">Bebidas</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a (click)="navigateToSection('acompanhamento')">
          <h3 alt="ProductType">Acompanhamentos</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a (click)="navigateToSection('sobremesa')">
          <h3 alt="ProductType">Sobremesas</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="typeSection" *ngIf="(comboList.length) != 0">
    <div class="typeSectionTitle" id="combos">Combos</div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div *ngFor="let item of comboList">
      <div *ngIf="(item.tipo) == 'Combo'">
        <div class="col">
          <a (click)="goToInfo(item.id)" routerLinkActive="active" class="productLink">
            <div class="card">
              <div class="cardImg">
                <img src="{{'http://localhost:5037/produto/imagem/' + item.imagemId}}" class="img-fluid card-img-top" alt="ProductImg">
              </div>
              <div class="cardLine">
                <hr>
              </div>
              <div class="card-body">
                <h2 class="card-title" alt="ProductName">{{ item.nome }}</h2>
                <p class="card-text" alt="Ingredients">{{ item.descricao }}</p>
                <h3 class="card-text" alt="Ingredients">R${{ item.preco }}</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="typeSection" *ngIf="(hamburguerList.length) != 0">
    <div class="typeSectionTitle" id="hamburguer">Hamburguers</div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div *ngFor="let item of hamburguerList">
      <div *ngIf="(item.tipo) == 'Hamburguer'">
        <div class="col">
          <a (click)="goToInfo(item.id)" routerLinkActive="active" class="productLink">
            <div class="card">
              <div class="cardImg">
                <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top" alt="ProductImg">
              </div>
              <div class="cardLine">
                <hr>
              </div>
              <div class="card-body">
                <h2 class="card-title" alt="ProductName">{{ item.nome }}</h2>
                <p class="card-text" alt="Ingredients">{{ item.descricao }}</p>
                <h3 class="card-text" alt="Ingredients">R${{ item.preco }}</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="typeSection" *ngIf="(bebidaList.length) != 0">
    <div class="typeSectionTitle" id="bebida">Bebidas</div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div *ngFor="let item of bebidaList">
      <div *ngIf="(item.tipo) == 'Bebida'">
        <div class="col">
          <a (click)="goToInfo(item.id)" routerLinkActive="active" class="productLink">
            <div class="card">
              <div class="cardImg">
                <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top" alt="ProductImg">
              </div>
              <div class="cardLine">
                <hr>
              </div>
              <div class="card-body">
                <h3 class="card-title" alt="ProductName">{{ item.nome }}</h3>
                <p class="card-text" alt="Ingredients">{{ item.descricao }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="typeSection" *ngIf="(acompanhamentoList.length) != 0">
    <div class="typeSectionTitle" id="acompanhamento">Acompanhamentos</div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div *ngFor="let item of acompanhamentoList">
      <div *ngIf="(item.tipo) == 'Acompanhamento'">
        <div class="col">
          <a (click)="goToInfo(item.id)" routerLinkActive="active" class="productLink">
            <div class="card">
              <div class="cardImg">
                <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top" alt="ProductImg">
              </div>
              <div class="cardLine">
                <hr>
              </div>
              <div class="card-body">
                <h3 class="card-title" alt="ProductName">{{ item.nome }}</h3>
                <p class="card-text" alt="Ingredients">{{ item.descricao }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="typeSection" *ngIf="(sobremesaList.length) != 0">
    <div class="typeSectionTitle" id="sobremesa">Sobremesas</div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div *ngFor="let item of sobremesaList">
      <div *ngIf="(item.tipo) == 'Sobremesa'">
        <div class="col">
          <a (click)="goToInfo(item.id)" routerLinkActive="active" class="productLink">
            <div class="card">
              <div class="cardImg">
                <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top" alt="ProductImg">
              </div>
              <div class="cardLine">
                <hr>
              </div>
              <div class="card-body">
                <h3 class="card-title" alt="ProductName">{{ item.nome }}</h3>
                <p class="card-text" alt="Ingredients">{{ item.descricao }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttonTop">
  <button (click)="navigateToSection('navbar')">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>

<div class="buttonCreate">
  <a href="/novoProduto" routerLinkActive="active">
    <button>
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>

<div class="buttonOrder">
  <a href="/order" routerLinkActive="active">
    <button>
      <mat-icon> fastfood</mat-icon>
    </button>
  </a>
</div>

<div class="buttonTotem">
  <a href="/totem" routerLinkActive="active">
    <button>
      <mat-icon>dock</mat-icon>
    </button>
  </a>
</div>