<div class="formata">
  <div class="menuTitle">
    <h1>Cardápio</h1>
  </div>
  <div class="container text-center cardItemType">
    <div class="row typesRow">
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a href="#hamburguer">
          <h3 alt="ProductType">Hamburguers</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a href="#bebida">
          <h3 alt="ProductType">Bebidas</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a href="#acompanhamentos">
          <h3 alt="ProductType">Acompanhamentos</h3>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-3 typeText">
        <a href="#sobremesas">
          <h3 alt="ProductType">Sobremesas</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid" id="hamburguer">
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Lanches/BigDon.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Big Don</h3>
          <p class="card-text" alt="Ingredients">Dois Hambúrgueres, Alface, Queijo, Molho Especial, Cebola, Picles e Pão
            com Gergelim.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Lanches/DonFeliz.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Don Feliz</h3>
          <p class="card-text" alt="Ingredients">Combo com Hamburguer, DonFritas Média, DonValle de Uva, Donnoninho e 1
            Brinquedo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Lanches/DonChicken Jr.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">DonChicken Jr</h3>
          <p class="card-text" alt="Ingredients">Frango Empanado, maionese, Alface e Pão com Gergelim.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid" id="bebida">
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Bebidas/DonValleLaranja500.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Suco Don Valle Laranja</h3>
          <p class="card-text" alt="Ingredients">Suco Don Valle de Laranja com 500mL.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Bebidas/DonValleUva700.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Suco Don Valle Uva</h3>
          <p class="card-text" alt="Ingredients">Suco Don Valle de Uva com 700mL.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Bebidas/Coca700.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Coquinha Geladinha hmmm</h3>
          <p class="card-text" alt="Ingredients">Frango Empanado, maionese, Alface e Pão com Gergelim.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid" id="acompanhamentos">
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Acompanhamentos/Python Nuggets.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Python Nuggets</h3>
          <p class="card-text" alt="Ingredients">Python Nuggets Crocantes de Peito de Frango com 4 Unidades.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Acompanhamentos/DonFritas Grande.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Don Fritas Grande</h3>
          <p class="card-text" alt="Ingredients">Batata Frita Tamanho Grande com 200g.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Acompanhamentos/DonFritas Media.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Don Fritas Média</h3>
          <p class="card-text" alt="Ingredients">Batata Frita Tamanho Médio com 120g.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 cardGrid" id="sobremesas">
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Sobremesas/Donnoninho.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Donnoninho</h3>
          <p class="card-text" alt="Ingredients">Delicioso Iogurte Sabor Morango com 25g.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Sobremesas/DonFlurry.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">Don Flurry Ovomaltine©</h3>
          <p class="card-text" alt="Ingredients">Sorvete Sabor Baunilha com Flocos de Ovomaltine© e Cobertura de Chocolate.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="cardImg">
          <img src="../../assets/img/Products/Sobremesas/DonShake de Ovomaltine.png" class="img-fluid card-img-top" alt="ProductImg">
        </div>
        <div class="cardLine">
          <hr>
        </div>
        <div class="card-body">
          <h3 class="card-title" alt="ProductName">DonShake Ovomaltine©</h3>
          <p class="card-text" alt="Ingredients">DonShake Sabor Ovomaltine© Feito com Leite e Batido na Hora.</p>
        </div>
      </div>
    </div>
  </div>
 
</div>