<div class="row row-cols-1 row-cols-md-3 g-4 grid">
    <div class="col col-sm-6 col-md-6 col-lg-4">
        <div class="productImage">
            <mat-label>
                <p>Foto do Produto</p>
            </mat-label>
            <div class="imageCard">
                <input type="image" src="../../assets/img/defaultProduct.png" alt="Submit">
                <!-- <input type="file" placeholder="Choose file" (change)="uploadFile(file.files)" style="display: none;"> -->
            </div>
        </div>
    </div>

    <div class="col col-sm-1 col-md-8 col-lg-8 form">
        <mat-form-field>
            <mat-label>Nome do Produto</mat-label>
            <input matInput [(ngModel)]="nome"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select matInput [(ngModel)]="tipo">
                <mat-option value="Combo">Combo</mat-option>
                <mat-option value="Hamburguer">Hamburguer</mat-option>
                <mat-option value="Bebida">Bebida</mat-option>
                <mat-option value="Acompanhamento">Acompanhamento</mat-option>
                <mat-option value="Sobremesa">Sobremesa</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço do Produto</mat-label>
            <input matInput [(ngModel)]="preco"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição do Produto</mat-label>
            <input matInput [(ngModel)]="descricao"/>
        </mat-form-field>
        <button mat-flat-button color="primary" class="formButton" (click)="create()">Criar Produto</button>
        <button mat-flat-button color="warn" class="formButton">Cancelar</button>
    </div>
</div>