<div class="row row-cols-1 row-cols-md-3 g-4 cardGrid">
    <div class="col col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col col-sm-10 col-md-4 col-lg-5 productImage">
        <div class="card">
            <img src="../../assets/img/Products/Lanches/BigDon.png" class="card-img" alt="...">
        </div>
    </div>

    <div class="col col-sm-10 col-md-6 col-lg-5 productDescription">
        <div class="descriptionTitle">
            <h3>{{ produto.nome }}</h3>
        </div>
        <hr>
        <div class="descriptionText">
            <p>{{ produto.descricao }}</p>
        </div>
        <div class="avaliation">
            <!-- <p>Preço:</p> -->
            <h2>R${{ produto.preco }}</h2>
        </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 promoGrid">
    <div class="promoCard">
        <div class="promoTitle">
            <p>Cupom De Desconto</p>
        </div>
        <div class="promoQR" style="display: flex; justify-content: center;">
            <img src="../../assets/img/qrcode_www.youtube.com.png" alt="">
        </div>
    </div>
</div>  