.cardGrid{
    padding: 1em;
    margin: 0;
    margin-top: 2em;
}

.card{
    border: none;
}

.productImage{
    padding: 1em;
}

.productDescription{
    padding: 1.5em;
    display: flex;
    flex-direction: column;    
    /* background-color: red;    */
}

.productDescription hr{
    margin-inline: 5em;
}

.descriptionTitle{
    display: flex;
    justify-content: center;
}


.descriptionTitle h3{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 2.5em;
}

.descriptionText{
    padding: 2.5em;
}

.descriptionText p{
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 1.5em;
    text-align: justify;
}

.avaliation{ 
    padding: 2.5em;
}

.avaliation p{
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 1.5em;
    margin-block: 0.5em;
}

.avaliation h2{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 2.5em;
    margin-block: 0.5em;
}

.promoGrid{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em;
}

.promoCard{
    background-color: red;
    padding: 1em;
    margin-bottom: 5em;
    justify-content: center;
    border-radius: 15px;
}

.promoGrid img{
    width: -webkit-fill-available;
    border-radius: 20px;
}

.promoTitle{
    display: flex;
    justify-content: center;
}

.promoTitle p{
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 1.5em;
    color: yellow;
}

